@import "node_modules/bootstrap/scss/bootstrap"

a > span
    @extend .badge-primary
    line-height: 1.2

a > span.selectable:hover
    @extend .badge-success

p.lead
    margin-bottom: 0
    margin-top: 1rem
