<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Select a tag</h4>
    <button (click)="activeModal.dismiss()" aria-label="Close" class="close" type="button">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <p>Select {{allowCreation ? 'or create' : ''}} tags here </p>
    <form (ngSubmit)='createTag()' *ngIf='allowCreation' class='form-inline'>
        <label class='sr-only' for="tagName">Create new Tag</label>
        <div class="input-group mb-2 mr-sm-2">
            <div class="input-group-prepend">
                <div class="input-group-text">#</div>
            </div>
            <input [(ngModel)]='newTagName' autocomplete='off' class="form-control" id="tagName" name="tagName"
                   placeholder='Tag Name'>
        </div>
        <button [disabled]='newTagName.length < 3' class='btn btn-outline-primary mb-2'>Create</button>
    </form>
    <!-- todo: observe if this will scroll properly when the list gets longer than fits on a single screen -->
    <div class="list-group">
        <a (click)='selectTag(tag.name)' *ngFor='let tag of filteredTagList'
           [class.active]='selectedTags.indexOf(tag.name) >= 0'
           class="list-group-item list-group-item-action d-flex justify-content-start align-items-center c-pointer">
            {{tag.name}}
            <span class='ml-auto badge' [class.selectable]='allowGroupEditing'
                  (click)='selectGroupForTag(tag, $event)'>{{tag.group}}</span>
        </a>
    </div>
    <p *ngIf='filteredTagList.length === 0' class='lead'>No tags to display.</p>
</div>
<div class="modal-footer">
    <button (click)='activeModal.dismiss()' class="btn btn-outline-dark">Cancel</button>
    <button (click)='activeModal.close(selectedTags)' [disabled]='selectedTags.length === 0'
            class="btn btn-outline-primary">
        {{okText}}
    </button>
</div>
