@import "node_modules/bootstrap/scss/bootstrap-grid"

div.content
    flex-grow: 1

.alert-container
    position: fixed
    top: 56px
    width: 100vw
    z-index: 2000
    pointer-events: none

.alert
    box-shadow: 0 4px 8px -6px black
    pointer-events: initial

@include media-breakpoint-up(lg)
    .alert-container
        padding: 0 2% 0 65%

@include media-breakpoint-down(md)
    .alert-container
        padding: 0 25%

@include media-breakpoint-down(sm)
    .alert-container
        padding: 0 5%
