<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">User settings</h4>
    <button (click)="activeModal.dismiss()" aria-label="Close" class="close" type="button">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body container">
    <h3>Tag Blacklist</h3>
    <p *ngIf='blacklistTags.length === 0' class='lead'>No tags blacklisted.</p>
    <div class="list-group">
        <a (click)='selectTag(tag)' *ngFor='let tag of blacklistTags'
           [class.active]='selectedTags.indexOf(tag) >= 0' class="list-group-item list-group-item-action c-pointer">{{tag}}</a>
    </div>

    <div class='row'>
        <button (click)='openTagSelect()' class='btn btn-outline-secondary spacing-top col col-margin'>
            Add to blacklist
        </button>
        <button (click)='deleteSelectedFromBlacklist()' [disabled]='selectedTags.length === 0'
                class='btn btn-outline-warning spacing-top col col-margin'>
            Remove selected
        </button>
    </div>

    <button class='btn btn-block btn-sm btn-outline-danger spacing-top'>Delete account</button>
</div>
<div class="modal-footer">
    <button (click)="logoutWrapper()" class="btn btn-outline-dark" type="button">
        Logout
    </button>
    <button (click)="activeModal.close()" class="btn btn-outline-success" type="button">
        Save
    </button>
</div>
