<div class='container-fluid h-100'>
    <div *ngIf='!!currentPost' class='row h-100 pt-3 pb-3 align-content-start'>
        <div class='col-lg-3 order-lg-first mt-lg-0 col-12 order-last mt-3'>
            <div class='row m-0'>
                <h4>Tags</h4>
                <div class="list-group mb-3 w-100">
                    <a (click)='selectTag(tag.name)' *ngFor='let tag of currentPost.tags'
                       [class.active]='selectedTags.indexOf(tag.name) >= 0'
                       class="list-group-item list-group-item-action d-flex justify-content-start align-items-center c-pointer">
                        {{tag.name}}
                        <span class='ml-auto badge'>{{tag.group}}</span>
                    </a>
                </div>
                <p *ngIf='currentPost.tags.length === 0' class='lead'>No tags to display.</p>
            </div>
            <div class='row m-0'>
                <button (click)='openTagSelect()' class='btn btn-outline-secondary col-5'>
                    Add tags
                </button>
                <button (click)='untagSelected()' [disabled]='selectedTags.length === 0'
                        class='btn btn-outline-warning col-6 offset-1'>
                    Remove selected
                </button>
            </div>
            <div class='row m-0 mt-4'>
                <h4 class='w-100'>Comments</h4>
                <div class='card w-100 mt-1' *ngFor='let comment of currentPost.comments'>
                    <div class='card-body comment-card'>
                        <h6 class='card-title mb-1'>
                            {{comment.poster.name}}
                            <small class='text-muted ml-2'>posted {{comment.posted | DateFormatter}}</small>
                            <small *ngIf='comment.modified' class='text-muted'>,
                                edited {{comment.modified | DateFormatter}}</small>
                        </h6>
                        <p class='card-text mb-1'>{{comment.text}}</p>
                        <div *ngIf='!!userApi.CurrentUser && comment.poster.name === userApi.CurrentUser.username'>
                            <button (click)='editComment(comment)' class='btn btn-link'>Edit</button>
                            <button (click)='deleteComment(comment.posted)' class='btn btn-outline-danger'>Delete
                            </button>
                        </div>
                    </div>
                </div>
                <p *ngIf='currentPost.comments.length === 0' class='lead'>No comments to display.</p>
            </div>
            <div class='row m-0 mt-2'>
                <form (ngSubmit)='postComment()' class='w-100'>
                    <div class='form-group'>
                        <label for='new_comment_text' class='mb-1'>Post new comment</label>
                        <textarea class='form-control' id='new_comment_text' [(ngModel)]='newCommentText'
                                  rows='3' name='new_comment_text'></textarea>
                    </div>
                    <button [disabled]='newCommentText.length < 3' type='submit' class='btn btn-primary'>Submit</button>
                </form>
            </div>
        </div>
        <div class='col-lg-9 order-lg-last col-12 order-first h-fit'>
            <img [src]='postApi.imageSource(hash)' alt='post image' class="image-content">
        </div>
    </div>
</div>

<ng-template #edit_comment_modal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="edit-comment-modal-title">Modify comment</h4>
        <button (click)="modal.dismiss()" aria-label="Close" class="close" type="button">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form (ngSubmit)='finalizeEditComment()'>
            <div class='form-group'>
                <!-- there is no separate label here since the modal title practically does the same -->
                <textarea class='form-control' id='edit_comment_text' [(ngModel)]='editCommentText'
                          rows='3' name='new_comment_text' aria-labelledby='edit-comment-modal-title'></textarea>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button (click)="finalizeEditComment()" [disabled]='editCommentText.length < 3'
                class="btn btn-outline-success" type="button">
            Update
        </button>
    </div>
</ng-template>
